/* General Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, #10181f, #232828);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
}

header h1 {
    font-size: 2em;
}

.navigation .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .nav-list li {
    padding: 10px 20px;
}

.navigation .nav-list li a {
    color: #ffffff;
    font-size: 1.1em;
    transition: color 0.3s;
}

.navigation .nav-list li a:hover {
    color: #ffdd57;
}

/* Hero Section Styles */
.hero {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.hero-content {
    max-width: 900px;
}

.hero-content span{
    color: #4625db;
}

.hero h2 {
    font-size: 3.8em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* CTA Button Styles */
.cta-button {
    background-color: #ffdd57;
    color: #000;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: #ffd700;
    transform: scale(1.05);
}

/* Features Section Styles */
.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    color: #000;
   
}

.feature {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 60px 20px;
    border-radius: 20px;
    background-color: #1f0a7c72;
    color: #f2f2f2;
}

.feature h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1em;
}

/* Main Content Styles */
main {
    padding-top: 60px; /* Adjust for fixed header */
}

main section {
    padding: 20px;
    text-align: center;
}

main h2 {
    margin-bottom: 10px;
}

main p {
    font-size: 1.2em;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
}
